.contact-page {
    display: block;
    width: 100%;
}

.contact-page-content {
    display: block;
    margin: 20px auto;
}

.contact-page-description {
    padding: 25px 15px;
}

.contact-page-search-zone {
    padding: 35px 0 ;
    padding-bottom: 55px;
    margin: auto 20%;
}

.contact-page-search-zone input {
    width: 100%;
    margin: 10px 0;
}

.contact-page-search-zone-button {
    float: right;
}

.spaced {
    margin: 15px 0;
}