<tr class="contact-tile">
    <td>
        <!-- circle with conact initials -->
        <div class="contact-initials">
            <span>{{contact.initials}}</span>
        </div>
    </td>
    <td class="contact-fullname">
        {{contact.fullName}}
    </td>
    <td>
        {{contact.address}}
    </td>
    <td>
        {{contact.city}}
    </td>
    <td>
        {{contact.phone}}
    </td>
    <td class="contact-action">
        <a [routerLink]="'/details/'+contact.id" [state]="{'contact': contact}" class="colored">Voir</a>
    </td>
</tr>